<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Edocsys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Edocsys.Properties.Settings.EdocbaseConnectionString"
            connectionString="server=192.168.137.85;User Id=root;password=po12jein45bf;Persist Security Info=True;database=Edocbase"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <Edocsys.Properties.Settings>
            <setting name="CatalogToolStripMenuText" serializeAs="String">
                <value>Справочники</value>
            </setting>
            <setting name="MainFormText" serializeAs="String">
                <value>Система регистрации заявок</value>
            </setting>
            <setting name="FileToolStripMenuItemText" serializeAs="String">
                <value>&amp;Файл</value>
            </setting>
            <setting name="LoginToolStripMenuItemText" serializeAs="String">
                <value>Вход</value>
            </setting>
            <setting name="ExitToolStripMenuItemText" serializeAs="String">
                <value>Выход</value>
            </setting>
            <setting name="AdmToolStripMenuItemText" serializeAs="String">
                <value>&amp;Администрирование</value>
            </setting>
            <setting name="AdmpanelToolStripMenuItemText" serializeAs="String">
                <value>&amp;Панель Администрирования</value>
            </setting>
            <setting name="AssignexpertToolStripMenuItemText" serializeAs="String">
                <value>Назначение эксперта</value>
            </setting>
            <setting name="AddingExpertToolStripMenuItemText" serializeAs="String">
                <value>Эксперты</value>
            </setting>
            <setting name="DocToolStripMenuItemText" serializeAs="String">
                <value>&amp;Документы</value>
            </setting>
            <setting name="ContractorToolStripMenuItemText" serializeAs="String">
                <value>Контрагенты</value>
            </setting>
            <setting name="ProposalToolStripMenuItemText" serializeAs="String">
                <value>Заявки</value>
            </setting>
            <setting name="ContractToolStripMenuItemText" serializeAs="String">
                <value>Договора</value>
            </setting>
            <setting name="HelpToolStripMenuItemText" serializeAs="String">
                <value>&amp;Помощь</value>
            </setting>
            <setting name="product_nameLabelText" serializeAs="String">
                <value>Наименование продукции</value>
            </setting>
            <setting name="product_OKPLabelText" serializeAs="String">
                <value>Код ОКП</value>
            </setting>
            <setting name="product_TNVEDLabelText" serializeAs="String">
                <value>Код ТНВД</value>
            </setting>
            <setting name="WindowToolStripMenuItemText" serializeAs="String">
                <value>Окна</value>
            </setting>
            <setting name="ProposalFormText" serializeAs="String">
                <value>Заявки</value>
            </setting>
            <setting name="ConnHost" serializeAs="String">
                <value>192.168.137.85</value>
            </setting>
            <setting name="ConnPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="ConnDatabase" serializeAs="String">
                <value>Edocbase</value>
            </setting>
            <setting name="ProposalEmissionLabelText" serializeAs="String">
                <value>Тип выпуска продукции</value>
            </setting>
            <setting name="ProposalClientDocsLabelText" serializeAs="String">
                <value>Учредительные документы</value>
            </setting>
            <setting name="ProposalSchemeTypeLabelText" serializeAs="String">
                <value>Схема сертификации</value>
            </setting>
            <setting name="ProposalAddDataLabelText" serializeAs="String">
                <value>Дополнительные сведения</value>
            </setting>
            <setting name="ProposalContractTypeLabelText" serializeAs="String">
                <value>Тип договора</value>
            </setting>
            <setting name="ProductionToolStripMenuItemText" serializeAs="String">
                <value>Продукция</value>
            </setting>
            <setting name="ProductionFormText" serializeAs="String">
                <value>Продукция</value>
            </setting>
            <setting name="ExpertsFormText" serializeAs="String">
                <value>Эксперты</value>
            </setting>
            <setting name="ClientsFormText" serializeAs="String">
                <value>Контрагенты</value>
            </setting>
            <setting name="AgentsFullNameText" serializeAs="String">
                <value>Полное название</value>
            </setting>
            <setting name="AgentsShortNameText" serializeAs="String">
                <value>Сокращенное название</value>
            </setting>
            <setting name="AgentsAddressText" serializeAs="String">
                <value>Адрес</value>
            </setting>
            <setting name="AgentsPhoneText" serializeAs="String">
                <value>Телефон</value>
            </setting>
            <setting name="AgentsFaxText" serializeAs="String">
                <value>Факс</value>
            </setting>
            <setting name="AgentsEMailText" serializeAs="String">
                <value>E-mail</value>
            </setting>
            <setting name="AgentsContactInformationText" serializeAs="String">
                <value>Контактная информация</value>
            </setting>
            <setting name="AgentsBankInformationText" serializeAs="String">
                <value>Реквизиты</value>
            </setting>
            <setting name="AgentsINNText" serializeAs="String">
                <value>ИНН</value>
            </setting>
            <setting name="AgentsOGRNText" serializeAs="String">
                <value>ОГРН</value>
            </setting>
            <setting name="AgentsKPPText" serializeAs="String">
                <value>КПП</value>
            </setting>
            <setting name="AgentsOKPOText" serializeAs="String">
                <value>ОКПО</value>
            </setting>
            <setting name="AgentsKSText" serializeAs="String">
                <value>Кор/счет</value>
            </setting>
            <setting name="AgentsRSText" serializeAs="String">
                <value>Р/счет</value>
            </setting>
            <setting name="AgentsBIKText" serializeAs="String">
                <value>БИК</value>
            </setting>
            <setting name="AgentsBankText" serializeAs="String">
                <value>Наименование банка</value>
            </setting>
            <setting name="AgentsContactPersonText" serializeAs="String">
                <value>Ответственное лицо</value>
            </setting>
            <setting name="AgentsDocText" serializeAs="String">
                <value>Документы</value>
            </setting>
            <setting name="AgentsPersonStatusText" serializeAs="String">
                <value>Должность</value>
            </setting>
            <setting name="AgentsPersonFirstNameText" serializeAs="String">
                <value>Имя</value>
            </setting>
            <setting name="AgentsPersonLastNameText" serializeAs="String">
                <value>Фамилия</value>
            </setting>
            <setting name="AgentsPersonMiddleNameText" serializeAs="String">
                <value>Отчество</value>
            </setting>
            <setting name="ConfigFormText" serializeAs="String">
                <value>Настройки</value>
            </setting>
            <setting name="ConfigSaveText" serializeAs="String">
                <value>Сохранить</value>
            </setting>
            <setting name="ConfigCancelText" serializeAs="String">
                <value>Отмена</value>
            </setting>
            <setting name="ConfigHostText" serializeAs="String">
                <value>Хост</value>
            </setting>
            <setting name="ConfigPortText" serializeAs="String">
                <value>Порт</value>
            </setting>
            <setting name="ConfigDatabaseText" serializeAs="String">
                <value>Имя базы данных</value>
            </setting>
            <setting name="ConfigResetToDefaults" serializeAs="String">
                <value>Сборосить</value>
            </setting>
            <setting name="ConfigTestConnectionText" serializeAs="String">
                <value>Проверить подключение</value>
            </setting>
            <setting name="LogFilename" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="AssighExpertFormText" serializeAs="String">
                <value>Назначение экспертизы</value>
            </setting>
            <setting name="AssignExpertTabText" serializeAs="String">
                <value>Назначить эксперта</value>
            </setting>
            <setting name="AssignedExpertTabText" serializeAs="String">
                <value>Назначенные эксперты</value>
            </setting>
            <setting name="AssignExpertExpertsText" serializeAs="String">
                <value>Эксперты</value>
            </setting>
            <setting name="ProposalAgentNameText" serializeAs="String">
                <value>Название контрагента</value>
            </setting>
            <setting name="AssignExprtsExpertText" serializeAs="String">
                <value>Эксперт</value>
            </setting>
            <setting name="AssignExpertProposalText" serializeAs="String">
                <value>Заявка</value>
            </setting>
            <setting name="AssignExpertsAssignButtonText" serializeAs="String">
                <value>Назначить</value>
            </setting>
            <setting name="LoginFormText" serializeAs="String">
                <value>Вход</value>
            </setting>
            <setting name="LoginFormCancelText" serializeAs="String">
                <value>Отмена</value>
            </setting>
            <setting name="LoginFormLoginText" serializeAs="String">
                <value>Войти</value>
            </setting>
            <setting name="AgentsTypeName" serializeAs="String">
                <value>Форма собственности</value>
            </setting>
            <setting name="AgentsContactsText" serializeAs="String">
                <value>Контакты</value>
            </setting>
            <setting name="DocTemplatesTitle" serializeAs="String">
                <value>Шаблоны документов</value>
            </setting>
            <setting name="DocTemplateOperationsText" serializeAs="String">
                <value>Шаблон не выбран</value>
            </setting>
            <setting name="ContractsFormTitle" serializeAs="String">
                <value>Договора</value>
            </setting>
        </Edocsys.Properties.Settings>
    </userSettings>
</configuration>