<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Edocsys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Edocsys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Edocsys.Properties.Settings.EdocbaseConnectionString"
            connectionString="server=10.0.2.2;User Id=defuser;password=ttrr;Persist Security Info=True;database=Edocbase"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <Edocsys.Properties.Settings>
            <setting name="CatalogToolStripMenuText" serializeAs="String">
                <value>Справочники</value>
            </setting>
            <setting name="MainFormText" serializeAs="String">
                <value>Система регистрации заявок</value>
            </setting>
            <setting name="FileToolStripMenuItemText" serializeAs="String">
                <value>&amp;Файл</value>
            </setting>
            <setting name="LoginToolStripMenuItemText" serializeAs="String">
                <value>Вход</value>
            </setting>
            <setting name="ExitToolStripMenuItemText" serializeAs="String">
                <value>Выход</value>
            </setting>
            <setting name="AdmToolStripMenuItemText" serializeAs="String">
                <value>&amp;Администрирование</value>
            </setting>
            <setting name="AdmpanelToolStripMenuItemText" serializeAs="String">
                <value>&amp;Панель Администрирования</value>
            </setting>
            <setting name="AssignexpertToolStripMenuItemText" serializeAs="String">
                <value>Назначение эксперта</value>
            </setting>
            <setting name="AddingExpertToolStripMenuItemText" serializeAs="String">
                <value>Добавление эксперта</value>
            </setting>
            <setting name="DocToolStripMenuItemText" serializeAs="String">
                <value>&amp;Документы</value>
            </setting>
            <setting name="ContractorToolStripMenuItemText" serializeAs="String">
                <value>Контрагенты</value>
            </setting>
            <setting name="ProductionToolStripMenuItemText" serializeAs="String">
                <value>Продукция</value>
            </setting>
            <setting name="ProposalToolStripMenuItemText" serializeAs="String">
                <value>Заявки</value>
            </setting>
            <setting name="ContractToolStripMenuItemText" serializeAs="String">
                <value>Договора</value>
            </setting>
            <setting name="HelpToolStripMenuItemText" serializeAs="String">
                <value>&amp;Помощь</value>
            </setting>
            <setting name="product_nameLabelText" serializeAs="String">
                <value>Наименование продукции</value>
            </setting>
            <setting name="product_OKPLabelText" serializeAs="String">
                <value>Код ОКП</value>
            </setting>
            <setting name="product_TNVEDLabelText" serializeAs="String">
                <value>Код ТНВД</value>
            </setting>
            <setting name="ProductionFormText" serializeAs="String">
                <value>Продукция</value>
            </setting>
            <setting name="WindowToolStripMenuItemText" serializeAs="String">
                <value>Окна</value>
            </setting>
        </Edocsys.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Edocsys.Properties.Settings>
            <setting name="ContractStatuses" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>00 - Заявка добавлена</string>
                        <string>01 - К заявке прикреплен эксперт</string>
                        <string>02 - Начата работа</string>
                        <string>03 - Оформлен акт выполненных работ</string>
                        <string>04 - Акт утверден руководителем</string>
                        <string>20 - Договор исполнен</string>
                        <string>21 - Заказчик  Эл. Джон</string>
                        <string>22 - Эксперт  Эл. Джон</string>
                        <string>23 - Директор  Эл. Джон</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PaymentStatuses" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>10 - Договор оформлен</string>
                        <string>11 - Договор подписан</string>
                        <string>12 - Перечислен аванс</string>
                        <string>13 - Перечислена полная сумма</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Edocsys.Properties.Settings>
    </applicationSettings>
</configuration>