<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Edocsys.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Edocsys.Properties.Settings.EdocbaseConnectionString"
            connectionString="server=192.168.0.4;Port=3306;User Id=root;password=po12jein45bf;Persist Security Info=True;database=edocbase"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <userSettings>
        <Edocsys.Properties.Settings>
            <setting name="CatalogToolStripMenuText" serializeAs="String">
                <value>Справочники</value>
            </setting>
            <setting name="MainFormText" serializeAs="String">
                <value>Система регистрации заявок</value>
            </setting>
            <setting name="FileToolStripMenuItemText" serializeAs="String">
                <value>&amp;Файл</value>
            </setting>
            <setting name="LoginToolStripMenuItemText" serializeAs="String">
                <value>Начать сеанс</value>
            </setting>
            <setting name="ExitToolStripMenuItemText" serializeAs="String">
                <value>Выход</value>
            </setting>
            <setting name="AdmToolStripMenuItemText" serializeAs="String">
                <value>&amp;Администрирование</value>
            </setting>
            <setting name="AdmpanelToolStripMenuItemText" serializeAs="String">
                <value>&amp;Панель Администрирования</value>
            </setting>
            <setting name="AssignexpertToolStripMenuItemText" serializeAs="String">
                <value>Назначение эксперта</value>
            </setting>
            <setting name="AddingExpertToolStripMenuItemText" serializeAs="String">
                <value>Эксперты</value>
            </setting>
            <setting name="DocToolStripMenuItemText" serializeAs="String">
                <value>&amp;Этапы работы</value>
            </setting>
            <setting name="ContractorToolStripMenuItemText" serializeAs="String">
                <value>Контрагенты</value>
            </setting>
            <setting name="ProposalToolStripMenuItemText" serializeAs="String">
                <value>Заявки</value>
            </setting>
            <setting name="ContractToolStripMenuItemText" serializeAs="String">
                <value>Ведение договоров</value>
            </setting>
            <setting name="HelpToolStripMenuItemText" serializeAs="String">
                <value>&amp;Помощь</value>
            </setting>
            <setting name="product_nameLabelText" serializeAs="String">
                <value>Класс продукции</value>
            </setting>
            <setting name="product_OKPLabelText" serializeAs="String">
                <value>Код ОКП</value>
            </setting>
            <setting name="product_TNVEDLabelText" serializeAs="String">
                <value>Код ТНВД</value>
            </setting>
            <setting name="WindowToolStripMenuItemText" serializeAs="String">
                <value>Окна</value>
            </setting>
            <setting name="ProposalFormText" serializeAs="String">
                <value>Заявки</value>
            </setting>
            <setting name="ConnHost" serializeAs="String">
                <value>192.168.0.4</value>
            </setting>
            <setting name="ConnPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="ConnDatabase" serializeAs="String">
                <value>edocbase</value>
            </setting>
            <setting name="ProposalEmissionLabelText" serializeAs="String">
                <value>Наименование продукции</value>
            </setting>
            <setting name="ProposalClientDocsLabelText" serializeAs="String">
                <value>Учредительные документы</value>
            </setting>
            <setting name="ProposalSchemeTypeLabelText" serializeAs="String">
                <value>Схема сертификации</value>
            </setting>
            <setting name="ProposalAddDataLabelText" serializeAs="String">
                <value>Дополнительные сведения</value>
            </setting>
            <setting name="ProposalContractTypeLabelText" serializeAs="String">
                <value>Тип договора</value>
            </setting>
            <setting name="ProductionToolStripMenuItemText" serializeAs="String">
                <value>Область аккредитации</value>
            </setting>
            <setting name="ProductionFormText" serializeAs="String">
                <value>Область аккредитации</value>
            </setting>
            <setting name="ExpertsFormText" serializeAs="String">
                <value>Эксперты</value>
            </setting>
            <setting name="ClientsFormText" serializeAs="String">
                <value>Контрагенты</value>
            </setting>
            <setting name="AgentsFullNameText" serializeAs="String">
                <value>Полное название</value>
            </setting>
            <setting name="AgentsShortNameText" serializeAs="String">
                <value>Сокращенное название</value>
            </setting>
            <setting name="AgentsAddressText" serializeAs="String">
                <value>Адрес</value>
            </setting>
            <setting name="AgentsPhoneText" serializeAs="String">
                <value>Телефон</value>
            </setting>
            <setting name="AgentsFaxText" serializeAs="String">
                <value>Факс</value>
            </setting>
            <setting name="AgentsEMailText" serializeAs="String">
                <value>E-mail</value>
            </setting>
            <setting name="AgentsContactInformationText" serializeAs="String">
                <value>Контактная информация</value>
            </setting>
            <setting name="AgentsBankInformationText" serializeAs="String">
                <value>Реквизиты</value>
            </setting>
            <setting name="AgentsINNText" serializeAs="String">
                <value>ИНН</value>
            </setting>
            <setting name="AgentsOGRNText" serializeAs="String">
                <value>ОГРН</value>
            </setting>
            <setting name="AgentsKPPText" serializeAs="String">
                <value>КПП</value>
            </setting>
            <setting name="AgentsOKPOText" serializeAs="String">
                <value>ОКПО</value>
            </setting>
            <setting name="AgentsKSText" serializeAs="String">
                <value>Кор/счет</value>
            </setting>
            <setting name="AgentsRSText" serializeAs="String">
                <value>Р/счет</value>
            </setting>
            <setting name="AgentsBIKText" serializeAs="String">
                <value>БИК</value>
            </setting>
            <setting name="AgentsBankText" serializeAs="String">
                <value>Наименование банка</value>
            </setting>
            <setting name="AgentsContactPersonText" serializeAs="String">
                <value>Руководитель организации</value>
            </setting>
            <setting name="AgentsDocText" serializeAs="String">
                <value>Действующий на основании</value>
            </setting>
            <setting name="AgentsPersonStatusText" serializeAs="String">
                <value>Должность</value>
            </setting>
            <setting name="AgentsPersonFirstNameText" serializeAs="String">
                <value>Имя</value>
            </setting>
            <setting name="AgentsPersonLastNameText" serializeAs="String">
                <value>Фамилия</value>
            </setting>
            <setting name="AgentsPersonMiddleNameText" serializeAs="String">
                <value>Отчество</value>
            </setting>
            <setting name="ConfigFormText" serializeAs="String">
                <value>Настройки</value>
            </setting>
            <setting name="ConfigSaveText" serializeAs="String">
                <value>Сохранить</value>
            </setting>
            <setting name="ConfigCancelText" serializeAs="String">
                <value>Отмена</value>
            </setting>
            <setting name="ConfigHostText" serializeAs="String">
                <value>Хост</value>
            </setting>
            <setting name="ConfigPortText" serializeAs="String">
                <value>Порт</value>
            </setting>
            <setting name="ConfigDatabaseText" serializeAs="String">
                <value>Имя базы данных</value>
            </setting>
            <setting name="ConfigResetToDefaults" serializeAs="String">
                <value>Сборосить</value>
            </setting>
            <setting name="ConfigTestConnectionText" serializeAs="String">
                <value>Проверить подключение</value>
            </setting>
            <setting name="LogFilename" serializeAs="String">
                <value>log.txt</value>
            </setting>
            <setting name="AssighExpertFormText" serializeAs="String">
                <value>Назначение экспертизы</value>
            </setting>
            <setting name="AssignExpertTabText" serializeAs="String">
                <value>Назначить эксперта</value>
            </setting>
            <setting name="AssignedExpertTabText" serializeAs="String">
                <value>Назначенные эксперты</value>
            </setting>
            <setting name="AssignExpertExpertsText" serializeAs="String">
                <value>Эксперты</value>
            </setting>
            <setting name="ProposalAgentNameText" serializeAs="String">
                <value>Название контрагента</value>
            </setting>
            <setting name="AssignExprtsExpertText" serializeAs="String">
                <value>Эксперт</value>
            </setting>
            <setting name="AssignExpertProposalText" serializeAs="String">
                <value>Заявка</value>
            </setting>
            <setting name="AssignExpertsAssignButtonText" serializeAs="String">
                <value>Назначить</value>
            </setting>
            <setting name="LoginFormText" serializeAs="String">
                <value>Вход</value>
            </setting>
            <setting name="LoginFormCancelText" serializeAs="String">
                <value>Отмена</value>
            </setting>
            <setting name="LoginFormLoginText" serializeAs="String">
                <value>Войти</value>
            </setting>
            <setting name="AgentsTypeName" serializeAs="String">
                <value>Форма собственности</value>
            </setting>
            <setting name="AgentsContactsText" serializeAs="String">
                <value>Дополнительные контакты</value>
            </setting>
            <setting name="DocTemplatesTitle" serializeAs="String">
                <value>Шаблоны документов</value>
            </setting>
            <setting name="DocTemplateOperationsText" serializeAs="String">
                <value>Шаблон не выбран</value>
            </setting>
            <setting name="ContractsFormTitle" serializeAs="String">
                <value>Договора</value>
            </setting>
            <setting name="TabExpertAssigned" serializeAs="String">
                <value>Неподписанные договора</value>
            </setting>
            <setting name="TabTaskProcessed" serializeAs="String">
                <value>Договора в работе</value>
            </setting>
            <setting name="TabTaskReady" serializeAs="String">
                <value>Подтверждение выполнения договора</value>
            </setting>
            <setting name="TabTaskFinished" serializeAs="String">
                <value>Выдача акта и подтверждение клиентом</value>
            </setting>
            <setting name="TabBadJob" serializeAs="String">
                <value>Невыполненные задания</value>
            </setting>
            <setting name="LoadTemplateButton" serializeAs="String">
                <value>Загрузить шаблон документа</value>
            </setting>
            <setting name="EditTemplateButton" serializeAs="String">
                <value>Изменить шаблон документа</value>
            </setting>
            <setting name="SaveTemplateButton" serializeAs="String">
                <value>Сохранить шаблон на диск</value>
            </setting>
            <setting name="TemplatePresenceText" serializeAs="String">
                <value>Наличие загруженного шаблона</value>
            </setting>
            <setting name="GenerateProposalTitle" serializeAs="String">
                <value>Сгенерировать заявку</value>
            </setting>
            <setting name="EditProposalButton" serializeAs="String">
                <value>Редактировать файл заявки</value>
            </setting>
            <setting name="ProposalOperationsGroupBox" serializeAs="String">
                <value>Операции с документом заявки</value>
            </setting>
            <setting name="SaveProposalButton" serializeAs="String">
                <value>Сохранть файл заявки на диск</value>
            </setting>
            <setting name="LoadProposalButton" serializeAs="String">
                <value>Загрузить файл заявки с диска</value>
            </setting>
            <setting name="ContractTypeText" serializeAs="String">
                <value>Вид проводимых работ</value>
            </setting>
            <setting name="ContractOperationGroupBox" serializeAs="String">
                <value>Операции с договором</value>
            </setting>
            <setting name="GenerateContractTitle" serializeAs="String">
                <value>Сгенерировать договор</value>
            </setting>
            <setting name="ContractNumberTitle" serializeAs="String">
                <value>Номер договора</value>
            </setting>
            <setting name="EditContractTitle" serializeAs="String">
                <value>Редактировать файл договора</value>
            </setting>
            <setting name="SaveContractTitle" serializeAs="String">
                <value>Сохранть файл договора на диск</value>
            </setting>
            <setting name="LoadContractTitle" serializeAs="String">
                <value>Загрузить файл договора с диска</value>
            </setting>
            <setting name="ProductAreasTitle" serializeAs="String">
                <value>Область аккредитации</value>
            </setting>
            <setting name="GOSTSelectionTitle" serializeAs="String">
                <value>Выбор ГОСТов</value>
            </setting>
            <setting name="ContractsNumberTitle" serializeAs="String">
                <value>Номер договора</value>
            </setting>
            <setting name="ContractDateCTitle" serializeAs="String">
                <value>Дата заключения договора</value>
            </setting>
            <setting name="ContractsDateStartTitle" serializeAs="String">
                <value>Дата начала работ</value>
            </setting>
            <setting name="ContractsDateSampleIncomeTitle" serializeAs="String">
                <value>Дата поступления образца</value>
            </setting>
            <setting name="ContractsDateProtocolIncomeTitle" serializeAs="String">
                <value>Дата поступления протокола</value>
            </setting>
            <setting name="PreparationsForTaskTitle" serializeAs="String">
                <value>Планирование выполнения работ</value>
            </setting>
            <setting name="ContractDateEndTitle" serializeAs="String">
                <value>Дата окончания работ</value>
            </setting>
            <setting name="ReattestationSignTitle" serializeAs="String">
                <value>Заключение договора инспекционного контроля</value>
            </setting>
            <setting name="InspectionControlTitle" serializeAs="String">
                <value>Договора на инспекционном контроле</value>
            </setting>
            <setting name="FinishedTasksTitle" serializeAs="String">
                <value>Завершенные договора</value>
            </setting>
            <setting name="WorksForContractTitle" serializeAs="String">
                <value>Планирование работ</value>
            </setting>
            <setting name="ContractPaymentsTitle" serializeAs="String">
                <value>Оплата договоров</value>
            </setting>
            <setting name="InspectionControlMenuTitle" serializeAs="String">
                <value>Инспекционный контроль</value>
            </setting>
            <setting name="ContractStatsTitle" serializeAs="String">
                <value>Статистика договоров</value>
            </setting>
            <setting name="ContractActTitle" serializeAs="String">
                <value>Операции с актами</value>
            </setting>
            <setting name="PayedContractsTitle" serializeAs="String">
                <value>Оплаченые договора</value>
            </setting>
            <setting name="GenerateActTitle" serializeAs="String">
                <value>Сгенерировать акт выполнения работ</value>
            </setting>
            <setting name="ActEditTitle" serializeAs="String">
                <value>Редактировать файл акта</value>
            </setting>
            <setting name="ActSaveTitle" serializeAs="String">
                <value>Сохранить файл акта на диск</value>
            </setting>
            <setting name="ActLoadTitle" serializeAs="String">
                <value>Загрузить файл акта с диска</value>
            </setting>
            <setting name="ReattContractTitle" serializeAs="String">
                <value>Операции с договором инспекционного контроля</value>
            </setting>
            <setting name="AgentTypesTitle" serializeAs="String">
                <value>Формы собственности</value>
            </setting>
        </Edocsys.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
